html, body, input, select, textarea, button
	font-weight 400
	color #1d2937

a:hover
	color #DF6826

body
	background-color #ffffff

	#header
		background-color #1D2937

	#header-quick-access
		background-color lighten(#1D2937, 10%)

	#header #header-main-bar .wekan-logo
		opacity 1.0
		margin-top 0
		webkit-transition: opacity 0.3s
    transition: opacity 0.3s

	#header #header-main-bar .wekan-logo:hover
		opacity 0.7

textarea, input:not([type=file]), button
			background #ffffff
			border-radius 0px

input[type="submit"].primary, button.primary
			border 1px solid #1d2937
			background-color #f9f9f9
			color #1d2937
			box-shadow none

input[type="submit"].primary:hover, button.primary:hover, input[type="submit"].primary:focus, button.primary:focus
			border 1px solid #DF6826
			background-color #DF6826
			color white

.pop-over-list li > a
	font-weight 400

.pop-over-list li > a:not(.disabled):hover
	background-color #DF6826
	font-weight 400

#header-quick-access ul li
	color #ffffff

#header-quick-access ul li:hover
	color #DF6826

.fa.fa-lock.colorful
	color #DF6826

.auth-layout .at-form-landing-logo
	width 299px

.auth-layout .at-form .at-link
	color #DF6826

#at-btn
	border 1px solid #1d2937
	background-color #f9f9f9
	color #1d2937
	box-shadow none

#at-btn:hover
		border 1px solid #DF6826
		background-color #DF6826

.sidebar .sidebar-content
	background-color #f9f9f9

.board-wrapper
	background-color #dedede

.header-board-menu a:hover
	color white

.header-board-menu a:hover
	color darken(white, 20%)

//Midnight to Di Blue

.board-color-midnight#header-quick-access a:hover
	color darken(white, 20%)

.board-color-midnight#header-quick-access ul li:hover
	color darken(white, 20%)

.board-color-midnight#header ul li.current, .board-color-midnight#header-quick-access ul li.current
	border-color #DF6826

.board-color-midnight#header, .board-color-midnight.sk-spinner div,
.board-backgrounds-list .board-color-midnight.background-box, .board-list .board-color-midnight a
	background-color #1D2937

.board-color-midnight#header-quick-access
	background-color lighten(#1D2937, 10%)

.board-color-midnight.pop-over .pop-over-list li a:not(.disabled):hover,
.board-color-midnight .sidebar .sidebar-content .sidebar-btn:hover,
.board-color-midnight .sidebar-list li a:hover
	background-color #DF6826

.board-color-midnight .is-selected .minicard
	border-color #DF6826

.board-color-midnight button[type=submit].primary,
.board-color-midnight input[type=submit].primary
	background-color transparent

.board-color-midnight button[type=submit].primary:hover,
.board-color-midnight input[type=submit].primary:hover
	background-color #DF6826

#header #header-main-bar .board-header-btn.is-active, #header #header-main-bar h1.is-clickable.is-active,
#header #header-main-bar .board-header-btn:hover:not(.is-disabled),
#header #header-main-bar h1.is-clickable:hover:not(.is-disabled)
	background lighten(#1D2937, 10%)

.board-color-midnight#header #header-main-bar .board-header-btn.emphasis
	background lighten(#1D2937, 10%)

.board-color-midnight#header #header-main-bar .board-header-btn.emphasis:hover
	background lighten(#1D2937, 15%)

.board-color-midnight#header #header-main-bar .board-header-btn.emphasis:hover,
.board-color-midnight#header #header-main-bar .board-header-btn.emphasis
.board-header-btn-close
	background lighten(#1D2937, 15%)

.board-color-midnight#header #header-main-bar .board-header-btn.emphasis .board-header-btn-close
	background lighten(#1D2937, 10%)

.board-color-midnight#header #header-main-bar .board-header-btn.emphasis .board-header-btn-close:hover
	background lighten(#1D2937, 15%)

.board-color-midnight#header #header-main-bar .board-header-btn.emphasis:hover .board-header-btn-close
	background lighten(#1D2937, 10%)

//Pumpkin to Di Orange

.board-color-pumpkin#header-quick-access
	background-color lighten(#de6826, 10%)

.board-color-pumpkin#header, .board-color-pumpkin.sk-spinner div,
.board-backgrounds-list .board-color-pumpkin.background-box, .board-list .board-color-pumpkin a
	background-color #de6826

.board-color-pumpkin#header ul li.current, .board-color-pumpkin#header-quick-access ul li.current
	border-color #ffffff

.board-color-pumpkin.pop-over .pop-over-list li a:not(.disabled):hover,
.board-color-pumpkin .sidebar .sidebar-content .sidebar-btn:hover,
.board-color-pumpkin .sidebar-list li a:hover
	background-color #1D2937

#header #header-main-bar .board-header-btn.is-active, #header #header-main-bar h1.is-clickable.is-active,
#header #header-main-bar .board-header-btn:hover:not(.is-disabled),
#header #header-main-bar h1.is-clickable:hover:not(.is-disabled)
	background darken(#de6826, 15%)

.board-color-pumpkin#header #header-main-bar .board-header-btn.emphasis
	background darken(#de6826, 15%)

.board-color-pumpkin#header #header-main-bar .board-header-btn.emphasis
	background darken(#de6826, 15%)

.board-color-pumpkin#header #header-main-bar .board-header-btn.emphasis:hover,
.board-color-pumpkin#header #header-main-bar .board-header-btn.emphasis .board-header-btn-close
	background darken(#de6826, 25%)

.board-color-pumpkin#header #header-main-bar .board-header-btn.emphasis:hover,
.board-color-pumpkin#header #header-main-bar .board-header-btn.emphasis .board-header-btn-close
	background darken(#de6826, 15%)

.board-color-pumpkin#header #header-main-bar .board-header-btn.emphasis:hover .board-header-btn-close
	background darken(#de6826, 25%)

.board-color-pumpkin .is-selected .minicard
	border-color #1D2937

.board-color-pumpkin button[type=submit].primary, .board-color-pumpkin input[type=submit].primary
	background-color transparent
	border-color #de6826

.board-color-pumpkin input[type="submit"].primary:hover, .board-color-pumpkin button.primary:hover,
.board-color-pumpkin input[type="submit"].primary:focus, .board-color-pumpkin button.primary:focus
	background-color #1D2937
	border-color #1D2937
